.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem;
}

@media (min-width: 768px) {
	.header {
		padding: 2rem 10%;
	}
}

.nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 1.5rem;
	/* font-family: 'Montserrat', sans-serif; */
	font-size: 1.25rem;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	font-family: "Montserrat", sans-serif;
	color: #ddd6cb;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.15rem;
	text-decoration: none;
	text-transform: uppercase;
}

.logo img {
	width: 5rem;
	height: 5rem;
	object-fit: contain;
	filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}
