.form {
	width: 100%;
	margin: 2rem auto;
	padding: 1rem;
	border-radius: 6px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	background-color: #03be9f;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.control {
	min-width: 10rem;
	flex: 1;
	margin-bottom: 0.5rem;
}

.control label {
	display: block;
	margin-bottom: 0.5rem;
	color: white;
	font-weight: bold;
	text-align: left;
}

.control input,
.control textarea {
	width: 100%;
	padding: 0.25rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #dcfff9;
	font: inherit;
}

.form button {
	background-color: white !important;
}

.form button:hover {
	background-color: #f3f3f3 !important;
}
