.header {
	width: 90%;
	max-width: 75rem;
	gap: 3rem;
	margin: 3rem auto 5rem auto;
	color: #ddd6cb;
	font-size: 1.5rem;
	text-align: center;
}

.header h1 {
	font-family: "Montserrat", sans-serif;
}

.highlight {
	background: linear-gradient(90deg, #f9572a, #ff8a05);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main {
	width: 90%;
	max-width: 40rem;
	margin: 0 auto;
	text-align: center;
}

.main h2 {
	margin-bottom: 3rem;
	font-family: "Montserrat", sans-serif;
	color: #ddd6cb;
	font-size: 2rem;
}

.perks {
	margin: 3rem 0;
	padding: 0;
	list-style: none;
}

.perks li {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.perks img {
	width: 8rem;
	height: 8rem;
	object-fit: contain;
}

.perks p {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	color: #ddd6cb;
	font-size: 1.5rem;
	font-weight: bold;
}
