.alert {
	width: 90%;
	max-width: 40rem;
	margin: 1rem auto;
	padding: 1rem 2rem;
	border-radius: 6px;
	background-color: #d5bdfc;
	color: #38028d;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}
